name: Check

on: [push, pull_request]
jobs:
  check:
    name: Run Tests
    runs-on: ubuntu-latest
    env:
      GRADLE_OPTS: "-Xmx6g -Xms4g"
      CI: true
    strategy:
      fail-fast: false # we need to know which version is failing
      matrix:
        version:
          - "-PideVersion=IC-2022.3"
    steps:
      - uses: actions/checkout@v1

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: zulu
      - uses: gradle/gradle-build-action@v2
        with:
          arguments: test runPluginVerifier ${{ matrix.version }} --stacktrace
      - name: Show Reports
        uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: reports
          path: build/reports/
